<section class="benefints-section">
	<div class="background">
		<div class="container benefits" id="benefits">
			<h2 class="benefits-header"><span>Benefits</span> of working with me</h2>
			<ul class="benefits-list-wrap">
				<li class="benefits-list-item">
					<svg class="benefits-icon" width="48px" height="48px">
						<use href="./img/sprite.svg#icon-user"></use>
					</svg>
					<h3 class="benefits-item-head">Expertise</h3>
					<p class="benefits-item-text">With extensive experience in development, I have a deep understanding of
						programming and website development.</p>
				</li>
				<li class="benefits-list-item">
					<svg class="benefits-icon" width="48px" height="48px">
						<use href="./img/sprite.svg#icon-chat"></use>
					</svg>
					<h3 class="benefits-item-head">Communication</h3>
					<p class="benefits-item-text">Understanding your needs and wants is my priority and I am always available for
						discussions and open to corrections.</p>
				</li>
				<li class="benefits-list-item">
					<svg class="benefits-icon" width="48px" height="48px">
						<use href="./img/sprite.svg#icon-brush"></use>
					</svg>
					<h3 class="benefits-item-head">Art</h3>
					<p class="benefits-item-text">Thanks to my creative nature, I am ready to accept challenges and help you bring
						your ideas to life.</p>
				</li>
				<li class="benefits-list-item">
					<svg class="benefits-icon" width="48px" height="48px">
						<use href="./img/sprite.svg#icon-clock"></use>
					</svg>
					<h3 class="benefits-item-head">Urgent execution</h3>
					<p class="benefits-item-text">I understand how important time is to you. Ready to work quickly and
						efficiently, without reducing the quality of work.</p>
				</li>
			</ul>
		</div>
	</div>
</section>