<section id="faq" class="container faq-container">
	<div class="faq-title-container">
		<h2 class="faq-title"> FREQUENTLY ASKED <span class="common-span">QUESTIONS</span>
		</h2>
		<img class="faq-decor" src="./img/faq-decor.png" alt="FAQ-decoration" />
	</div>
	<div class="question-container">
		<ul class="accordion">
			<li class="question-element">
				<div class="question-box">
					<p class="question expanded" id="first-question"> What programming languages ​​are most often used in your
						project? </p>
					<svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path d="M12 16.5l6-6-1.41-1.41L12 13.67l-4.59-4.59L6 10.5l6 6z" />
					</svg>
				</div>
				<div class="answer">
					<p class="answer-text"> In the field of web development, there are various technologies and programming
						languages. Typically, this includes a combination of frontend (client side) and backend (server side)
						languages. </p>
				</div>
			</li>
			<li class="question-element">
				<div class="question-box">
					<p class="question">What are the deadlines for the project?</p>
					<svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path d="M12 16.5l6-6-1.41-1.41L12 13.67l-4.59-4.59L6 10.5l6 6z" />
					</svg>
				</div>
				<div class="answer">
					<p class="answer-text"> The terms of project implementation depend to a large extent on a number of factors,
						such as the scope of the project, its complexity, and the availability of resources. Determining exact
						deadlines is a difficult task, and it usually occurs during the planning phase of the project. </p>
				</div>
			</li>
			<li class="question-element">
				<div class="question-box">
					<p class="question">What payment methods do you accept?</p>
					<svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path d="M12 16.5l6-6-1.41-1.41L12 13.67l-4.59-4.59L6 10.5l6 6z" />
					</svg>
				</div>
				<div class="answer">
					<p class="answer-text"> Payment through credit and debit cards such as Visa, MasterCard, specialized
						electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum
						and others. </p>
				</div>
			</li>
			<li class="question-element">
				<div class="question-box">
					<p class="question">How can I contact you?</p>
					<svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path d="M12 16.5l6-6-1.41-1.41L12 13.67l-4.59-4.59L6 10.5l6 6z" />
					</svg>
				</div>
				<div class="answer">
					<p class="answer-text"> In the field of web development, there are various technologies and programming
						languages. Typically, this includes a combination of frontend (client side) and backend (server side)
						languages. </p>
				</div>
			</li>
			<li class="question-element">
				<div class="question-box">
					<p class="question">Do you provide advice or support?</p>
					<svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path d="M12 16.5l6-6-1.41-1.41L12 13.67l-4.59-4.59L6 10.5l6 6z" />
					</svg>
				</div>
				<div class="answer">
					<p class="answer-text"> The terms of project implementation depend to a large extent on a number of factors,
						such as the scope of the project, its complexity, and the availability of resources. Determining exact
						deadlines is a difficult task, and it usually occurs during the planning phase of the project. </p>
				</div>
			</li>
			<li class="question-element">
				<div class="question-box">
					<p class="question"> What does the process of developing a software product look like from idea to
						implementation? </p>
					<svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path d="M12 16.5l6-6-1.41-1.41L12 13.67l-4.59-4.59L6 10.5l6 6z" />
					</svg>
				</div>
				<div class="answer">
					<p class="answer-text"> Payment through credit and debit cards such as Visa, MasterCard, specialized
						electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum
						and others. </p>
				</div>
			</li>
		</ul>
	</div>
</section>