<header class="header">
    <div class="container">
        <nav class="nav">
            <a href="" class="nav-link">LLOUD<span class="nav-link-span">JEFFERSON.</span></a>
            <ul class="header-list">
                <li class="header-list-item"><a class="header=item-link">About me</a></li>
                <li class="header-list-item"><a class="header=item-link">Projects</a></li>
                <li class="header-list-item"><a class="header=item-link">Contacts</a></li>
            </ul>
        </nav>
    </div>
</header>