<section class="hero-section container">
  <div class="hero-container">
    <h1 class="hero-title">
      Hello, I'am <br /><span class="hero-text-color"
        >Fullstack <br />developer</span
      >
    </h1>
    <div class="hero-container-img">
      <picture class="hero-img"
        ><source
          srcset="../img/about-photo-min.jpg"
          media="(min-width: 768px)"
        />
        <source srcset="../img/about-photo@2x-min.jpg" />
        <img
          src="../img/about-photo@2x-min.jpg"
          alt="photo Lloyd Jefferson"
          width="592"
          height="444"
        />
      </picture>
    </div>
    <a class="hero-link-project" href="./my_project.html"
      ><svg class="hero-icon">
        <use xlink:href="../img/sprite.svg#icon-project-arrow"></use>
      </svg>
      Order the <span class="hero-text-color">project</span></a
    >
    <p class="hero-text">
      I work with people all over the world to create
      <span class="hero-text-color">impressive</span> and
      <span class="hero-text-color">functional websites</span> that reflect each
      client's unique personality.
    </p>
  </div>
  <ul class="hero-social">
    <li>
      <a
        class="hero-social-link"
        target="_blank"
        href="https://www.instagram.com/goitclub/"
        >Instagram</a
      >
    </li>
    <li>
      <a
        class="hero-social-link"
        target="_blank"
        href="https://www.facebook.com/goITclub/"
        >Facebook</a
      >
    </li>
    <li>
      <a
        class="hero-social-link"
        target="_blank"
        href="https://www.linkedin.com/school/goit-start-your-career-in-it"
        >Linkedin</a
      >
    </li>
    <li>
      <a
        class="hero-social-link"
        target="_blank"
        href="https://github.com/Evhenii18/Our-group-js-project/tree/Hero"
        >GitHub</a
      >
    </li>
  </ul>
</section>
