<section class="hero-section container">
  <div class="hero-container">
    <h1 class="hero-title">
      Hello, I'am <br /><span class="hero-text-color"
        >Fullstack <br />developer</span
      >
    </h1>
    <picture class="hero-img"
      ><source srcset="../img/about-photo.jpg" media="(min-width: 768px)" />
      <source srcset="../img/about-photo@2x.jpg" />
      <img src="../img/about-photo@2x.jpg" alt="photo Lloyd Jefferson" />
    </picture>

    <a class="hero-link-project" href=""
      ><svg class="hero-icon">
        <use xlink:href="../img/sprite.svg#icon-project-arrow"></use>
      </svg>
      Order the <span class="hero-text-color">project</span></a
    >
    <p class="hero-text">
      I work with people all over the world to create
      <span class="hero-text-color">impressive</span> and
      <span class="hero-text-color">functional websites</span> that reflect each
      client's unique personality.
    </p>
  </div>
  <ul class="hero-social">
    <li><a href="https://www.instagram.com/goitclub/">Instagram</a></li>
    <li><a href="https://www.facebook.com/goITclub/">Facebook</a></li>
    <li>
      <a href="https://www.linkedin.com/school/goit-start-your-career-in-it"
        >Linkedin</a
      >
    </li>
    <li>
      <a href="https://github.com/Evhenii18/Our-group-js-project/tree/Hero"
        >GitHub</a
      >
    </li>
  </ul>
</section>
