<section class="hero-section">
  <div class="hero-container">
    <h1>
      Hello, I'am <span class="hero-text-color">Fullstack developer</span>
    </h1>
    <a href="">Order the <span class="hero-text-color">project</span></a>
    <p class="hero-text">
      I work with people all over the world to create
      <span class="hero-text-color">impressive</span> and
      <span class="hero-text-color">functional websites</span> that reflect each
      client's unique personality.
    </p>
    <ul class="hero-social">
      <li><a href="https://www.instagram.com/goitclub/">Instagram</a></li>
      <li><a href="https://www.facebook.com/goITclub/">Facebook</a></li>
      <li>
        <a href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          >Linkedin</a
        >
      </li>
      <li>
        <a href="https://github.com/Evhenii18/Our-group-js-project/tree/Hero"
          >GitHub</a
        >
      </li>
    </ul>
  </div>
</section>
