<section class="container my-projects">
  <h2 class="section-title">my <span class="green-span">projects</span></h2>
  <ul class="projects-list">
    <li class="projects-item">
      <img
        src="./img/pj-1-min.jpg"
        alt="project image"
        class="project-img"
        width="320"
        height="184"
      />
      <p class="project-stacks">React, JavaScript, Node JS, Git</p>
      <div class="projects-box">
        <h3 class="projects-title">power pulse webservice</h3>
        <a class="projects-link" href="#"
          >visit

          <svg class="contacts-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-visit-arrow"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="projects-item">
      <img
        src="./img/pj-2-min.jpg"
        alt="project image"
        class="project-img"
        width="320"
        height="184"
      />
      <p class="project-stacks">React, JavaScript, Node JS, Git</p>
      <div class="projects-box">
        <h3 class="projects-title">mimino website</h3>
        <a class="projects-link" href="#"
          >visit

          <svg class="contacts-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-visit-arrow"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="projects-item">
      <img
        src="./img/pj-3-min.jpg"
        alt="project image"
        class="project-img"
        width="320"
        height="184"
      />
      <p class="project-stacks">React, JavaScript, Node JS, Git</p>
      <div class="projects-box">
        <h3 class="projects-title">vyshyvanka vibes Landing Page</h3>
        <a class="projects-link" href="#"
          >visit

          <svg class="contacts-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-visit-arrow"></use>
          </svg>
        </a>
      </div>
    </li>
  </ul>
  <button id="load-more" class="projects-btn">load-more</button>
</section>

<!-- srcset="./img/pg-1-min.jpg 1x, ./img/pg-1@2x-min.jpg 2x"
srcset="./img/pg-2-min.jpg 1x, ./img/pg-2@2x-min.jpg 2x"
srcset="./img/pg-3-min.jpg 1x, ./img/pg-3@2x-min.jpg 2x" -->
