<section class="my-projects" id="my_project">
	<div class="container">
		<h2 class="section-title section-title-project">my <span class="green-span">projects</span></h2>
		<ul class="projects-list">
			<li class="projects-item">
				<img srcset="./img/pj-1-min.jpg 1x, ./img/pj-1@2x-min.jpg 2x" src="./img/pj-21-min.jpg" alt="project image"
					class="project-img" />
				<p class="project-stacks">React, JavaScript, Node JS, Git</p>
				<div class="projects-box">
					<h3 class="projects-title">power pulse webservice</h3>
					<a class="projects-link" target="_blank" href="https://github.com/Evhenii18/Our-group-js-project">visit <svg
							class="contacts-icon" width="24" height="24">
							<use href="./img/sprite.svg#icon-visit-arrow"></use>
						</svg>
					</a>
				</div>
			</li>
			<li class="projects-item">
				<img srcset="./img/pj-2-min.jpg 1x, ./img/pj-2@2x-min.jpg 2x" src="./img/pj-2-min.jpg" alt="project image"
					class="project-img" />
				<p class="project-stacks">React, JavaScript, Node JS, Git</p>
				<div class="projects-box">
					<h3 class="projects-title">mimino website</h3>
					<a class="projects-link" target="_blank" href="https://github.com/Evhenii18/Our-group-js-project">visit <svg
							class="contacts-icon" width="24" height="24">
							<use href="./img/sprite.svg#icon-visit-arrow"></use>
						</svg>
					</a>
				</div>
			</li>
			<li class="projects-item">
				<img src="./img/pj-3-min.jpg" srcset="./img/pj-3-min.jpg 1x, ./img/pj-3@2x-min.jpg 2x" alt="project image"
					class="project-img" />
				<p class="project-stacks">React, JavaScript, Node JS, Git</p>
				<div class="projects-box">
					<h3 class="projects-title">vyshyvanka vibes Landing Page</h3>
					<a class="projects-link" target="_blank" href="https://github.com/Evhenii18/Our-group-js-project">visit <svg
							class="contacts-icon" width="24" height="24">
							<use href="./img/sprite.svg#icon-visit-arrow"></use>
						</svg>
					</a>
				</div>
			</li>
		</ul>
		<button id="load-more" class="projects-btn">load more</button>
	</div>
</section>