<section class="container">
  <h2 class="section-title">Reviews</h2>
  <div class="swiper" tabindex="0">
    <div class="swiper-wrapper" id="reviews-list">
      <!-- Слайды с отзывами -->
      <div class="swiper-slide" id="not-found" style="display:none; text-align:center">Not found</div>
    </div>
    <!-- Кнопки навигации -->
    <div class="swiper-buttons">
      <div class="swiper-button swiper-button-prev ">
        <svg class="swiper-button__prev-icon" width="24" height="24">
          <use href="../img/sprite.svg#arrow-right"></use>
        </svg>
      </div>
      <div class="swiper-button swiper-button-next">
        <svg class="swiper-button__next-icon" width="24" height="24">
          <use href="../img/sprite.svg#arrow-right"></use>
        </svg>
      </div>
    </div>

  </div>
</section>