<section class="tech-skills container" >
    <h2 class="visually-hidden">tech skills</h2>
    <div class="marquee">
        <div class="first-list-container">
            <ul class="first-tech-skills-list marquee__line">
                <li class="first-tech-skills-item">html/css</li>
                <li class="first-tech-skills-item">javascript</li>
                <li class="first-tech-skills-item">react</li>
                <li class="first-tech-skills-item">node.js</li>
                <li class="first-tech-skills-item">react native</li>
                <li class="first-tech-skills-item">typescript</li>
								
            </ul>
        </div>
    </div>
    <div class="marquee">
        <div class="second-list-container">
            <ul class="second-tech-skills-list second-marquee__line">
                <li class="second-tech-skills-item">html/css</li>
                <li class="second-tech-skills-item">javascript</li>
                <li class="second-tech-skills-item">react</li>
                <li class="second-tech-skills-item">node.js</li>
                <li class="second-tech-skills-item">react native</li>
                <li class="second-tech-skills-item">typescript</li>
            </ul>
        </div>
    </div>
</section>