<section class="tech-skills">
  <div class="container">
    <h2 class="visually-hidden">tech skills</h2>
    <div class="marquee">
      <div class="first-list-container list-container">
        <ul class="first-tech-skills-list marquee__line">
          <li class="first-tech-skills-item skills-item">html/css</li>
          <li class="first-tech-skills-item skills-item">javascript</li>
          <li class="first-tech-skills-item skills-item">react</li>
          <li class="first-tech-skills-item skills-item">node.js</li>
          <li class="first-tech-skills-item skills-item">react native</li>
          <li class="first-tech-skills-item skills-item">typescript</li>
        </ul>
      </div>
    </div>
    <div class="marquee marquee-second">
      <div class="second-list-container list-container">
        <ul class="second-tech-skills-list second-marquee__line">
          <li class="second-tech-skills-item skills-item">html/css</li>
          <li class="second-tech-skills-item skills-item">javascript</li>
          <li class="second-tech-skills-item skills-item">react</li>
          <li class="second-tech-skills-item skills-item">node.js</li>
          <li class="second-tech-skills-item skills-item">react native</li>
          <li class="second-tech-skills-item skills-item">typescript</li>
        </ul>
      </div>
    </div>
  </div>
</section>
