/* -------------------------------- Mobile -------------------------------- */
body.dark-theme .open .question-box {
	border-bottom: none;
}

.faq-title {
	margin-bottom: 40px;
}

.faq-title {
	font-family: "Impact", sans-serif;
	font-weight: 400;
	font-size: 52px;
	line-height: 64px;
	letter-spacing: 1.8px;
}

.faq-decor {
	display: none;
}

.common-span {
	color: #14c57c;
}

.question-box {
	display: flex;
	justify-content: space-between;
	gap: 16px;
	cursor: pointer;
	font-family: "Poppins", Regular;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	border-bottom: 1px solid #f0f0f0;
}

.question {
	width: 224px;
	box-sizing: content-box;
	padding: 28px 0 24px 24px;
}

.question-element {
	overflow: hidden;
}

.question .question-box {
	background-color: #f1f1f1;
}

.answer {
	font-family: "Poppins", Light;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2px;

	display: none;
	padding: 0 24px 28px 24px;
	background-color: #f1f1f1; /* Сірий фон по замовчуванню */
	border-radius: 0 0 5px 5px;
	width: 100%;
}

.open .question-box {
	background-color: #bcdfd1;
	border-radius: 16px 16px 0 0;
	border-bottom: none;
	padding-bottom: 0;
	transition: background-color var(--animation-mode);
}

.open .answer {
	background-color: #bcdfd1; /* Зелений фон для відповіді при відкритті */
	border-radius: 0 0 10px 10px;
	border-bottom: none;
	transition: background-color var(--animation-mode);
}

.answer-text {
	margin: 0;
	box-sizing: content-box;
}

.arrow-icon {
	margin: 28px 24px;
}

.open .arrow-icon {
	transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
	.faq-title {
		margin-bottom: 60px;
	}

	.faq-title {
		width: 592px;
		font-size: 108px;
		line-height: 124px;
		letter-spacing: 1.8px;
		margin-bottom: 60px;
	}

	.question-box {
		font-size: 20px;
		line-height: 32px;
		gap: 24px;
	}

	.question {
		width: 600px;
		padding: 28px 0 24px 24px;
	}

	.answer {
		border-top: none;
		padding: 0 24px 28px 24px;
	}
}

@media screen and (min-width: 1280px) {
	.faq-container {
		background-image: url(../img/faq-bg.png);
		background-repeat: no-repeat;
		background-position: left bottom;
		
	}

	.question-container {
		height: 1020px;
	}


	.faq-title {
		width: 520px;
		margin-bottom: 0;
	}

	.accordion {
		margin-top: 276px;
	}

	.question-container {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		gap: 104px;
	}

	.question-box {
		width: 592px;
	}

	.question {
		width: 488px;
	}

	.faq-decor {
		display: block;
		width: 526px;
		height: 408px;
		filter: blur(7.4);
	}
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
	/* .faq-container {
    background-image: url(../img/faq-bg@2x.png);
  } */
}
