@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('./fonts/impact.ttf'); */
@font-face {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    src: url(./fonts/impact.ttf);
}

footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #292929;

    border-top: 1px solid #E4E5E6;
}

.footer-container {
    padding-top: 40px;
    padding-bottom: 24px;
}

.footer-main-section {
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin-bottom: 40px;
}

.footer-logo {
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.footer-logo span {
    color: #00B068;
}

.footer-social-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-social-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
}

.footer-social-link:hover {
    color: #00B068;
}

.footer-copyright {
    text-align: center;
    width: 187px;
    margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
    footer {
        color: #F0F0F0;

        border-color: #F0F0F0;
    }

    .footer-logo span {
        color: #14C57C;
    }

    .footer-social-link:hover {
        color: #14C57C;
    }
}

@media screen and (min-width: 768px) {
    .footer-social-list {
        flex-direction: row;
        gap: 40px;
    }

    .footer-copyright {
        text-align: end;
        width: auto;
        margin: 0;
    }
}

@media screen and (min-width: 1280px) {
    .footer-main-section {
        flex-direction: row;
        gap: auto;
        justify-content: space-between;
        align-items: center;
    }
}