.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.first-list-container {
    padding: 32px 0px;
    width: 1392px;
    height: 104px;
    background-color: #BCDFD1;
    display: flex;
    align-items: center;
    margin: 0 0 1em 0;
}

.first-tech-skills-list {
    display: flex;
}

.first-tech-skills-item {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #292929;
}

.first-tech-skills-item:not(:last-child)::after {
    content: "";
    display: inline-block;
    border-radius: 2px;
    width: 8px;
    height: 8px;
    background-color: #00B068;
    transform: rotate(-180deg);
    margin: 0 24px;
    vertical-align: middle;
}

.second-list-container {
    padding: 32px 0px;
    width: 1392px;
    height: 104px;
    background-color: #E4E5E6;
    transform: rotate(2deg);
    display: flex;
    align-items: center;
}

.second-tech-skills-item {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #00B068;
    position: relative;
    display: inline;
    transform: rotate(2deg);
}

.second-tech-skills-item:not(:last-child)::after {
    content: "";
    display: inline-block;
    border-radius: 2px;
    width: 8px;
    height: 8px;
    background-color: #292929;
    transform: rotate(-180deg);
    margin: 0 24px;
    vertical-align: middle;
    transform: rotate(2deg);
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    width: 100%; 
}

.marquee__line {
  flex-shrink: 0;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(-100%);
    }
}

.second-marquee__line {
    display: inline-block; 
    animation: marqueeLine 7s ease-in-out infinite; 
    transform: rotate(2deg); 
}

@keyframes marquee {
    from {
        transform: translateX(100%) rotate(2deg); 
    }
    to {
        transform: translateX(-100%) rotate(2deg); 
    }
}

@media (min-width: 360px) {
    .container {
        max-width: 360px; 

    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    .first-list-containert {
        padding: 32px 0px;
        width: 1392px;
        height: 104px;
        background-color: #BCDFD1;
        display: flex;
        align-items: center;
        margin: 0 0 1em 0;
    }

    .first-tech-skills-item {
        font-weight: 500;
        font-size: 32px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #292929;
    }

    .first-tech-skills-item:not(:last-child)::after {
        content: "";
        display: inline-block;
        border-radius: 2px;
        width: 8px;
        height: 8px;
        background-color: #00B068;
        transform: rotate(-180deg);
        margin: 0 24px;
        vertical-align: middle;
    }

    .second-list-container {
        padding: 32px 0px;
        width: 1392px;
        height: 104px;
        background-color: #E4E5E6;
        transform: rotate(2deg);
        display: flex;
        align-items: center;
    }

    .second-tech-skills-item {
        font-weight: 500;
        font-size: 32px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #00B068;
        position: relative;
        display: inline;
    }

    .second-tech-skills-item:not(:last-child)::after {
        content: "";
        display: inline-block;
        border-radius: 2px;
        width: 8px;
        height: 8px;
        background-color: #292929;
        transform: rotate(180deg);
        margin: 0 24px;
        vertical-align: middle;
    }

    .marquee {
        overflow: hidden;
        white-space: nowrap;
        width: 100%; 
    }

    .marquee__line {
      flex-shrink: 0;
      min-width: 100%;
      white-space: nowrap;
      animation-name: marqueeLine;
      animation-duration: 7s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }

    @keyframes marqueeLine {
        from {
          transform: translateX(100%);
        }

        to {
          transform: translateX(-100%);
        }
    }

    .second-marquee__line {
        display: inline-block; 
        animation: marquee 10s ease-in-out infinite; 
        transform: rotate(2deg); 
    }

    @keyframes marquee {
        from {
            transform: translateX(100%) rotate(2deg); 
        }
        to {
            transform: translateX(-100%) rotate(2deg); 
        }
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px; 
        padding: 32px;
    }

    .first-list-container {
        padding: 40px 0;
        width: 1517px;
        height: 128px;
        margin-bottom: 0;
    }

    .first-tech-skills-item {
        font-size: 36px;
        line-height: 1.33;

    }

    .second-list-container {
        padding: 40px 0px;
        width: 1517px;
        height: 128px;
    }

    .second-tech-skills-item  {
        font-size: 36px;
        line-height: 1.33;
    }
}

@media (min-width: 1279px) {
    .container {
        max-width: 1280px; 

    }

    .first-list-container {
        padding: 40px 0px;
        width: 1517px;
        height: 128px;
    }

    .second-list-container {
        padding: 40px 0px;
        width: 1517px;
        height: 128px;
    }

    .second-marquee__line {
        top: 10px;
    }

}